.imagen-raiferick {width: 30px;}

.contenedor-presentacion { 
        width: 1170px;
        height: 368px;
        margin: 10px 10px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #130b0b;
        box-shadow: 0 3px 13px 1px #b4060681 ;
}

.imagen-presentacion {
        height: 100%;
        width: auto;
}

.contenedor-presentacion {
        text-align: center;
        padding: 40px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 400;
        line-height: 1.5rem;
        color: rgb(236, 19, 19);
        text-shadow: 2px 2px 12px  #8d0c0c;
}

.nombre-presentacion {
        font-size: 1.3rem;
}

.cargo-presentacion {
        font-size: 1.3rem;
        margin-top: 15px;
        padding-bottom: 30px;
}

.texto-presentacion {
         font-size: 1.1;
         text-align: justify;
}